.Login {
    height: 100vh;
    width: 100%;
    position: relative;
    padding: 20px;
    font-family: "Poppins", sans-serif;
    background-image: url('https://i.ibb.co/XZfQr6J/the-interior-has-a-armchair-on-empty-white-wall-background-3d-rendering-1.png');
    width: auto;
}

.Login-card {
    background: rgba(238, 200, 200, 0.75);
    height: 35rem;
    width: 33rem;
    float: right;
    border-radius: 1rem;
    margin-right: 10rem;
    margin-top: 5rem;
    z-index: 10;
}

.Login-heading {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1.2rem 0;
}

.Login-welcome {
    font-size: 1.5rem;
    padding: 20px;
}

.Login-welcome strong {
    color: #173864;
}

span a {
    padding: 20px;
    color: #2f80ed;
    cursor: pointer;
    text-decoration: none;
}

.Login-input {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border: none;
}

.Login-input h1 {
    padding: 2rem 4rem;
    font-size: 3rem;
}

.Login-input .loginForm {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 4rem;
    align-content: center;
}

.Login-input input {
    padding: 0 1.5rem;
    background: #ffffff;
    border: 1px solid #adadad;
    box-sizing: border-box;
    border-radius: 9px;
    height: 3rem;
}

.Login-summit {
    display: flex;
    align-items: flex-end;
    padding: 3rem;
    float: right;
    flex-direction: column;
}

.Login-summit button {
    margin: 1rem;
    height: 3rem;
    background: teal;
    box-shadow: 0 4px 19px teal;
    border-style: none;
    border-radius: 10px;
    color: white;
    width: 12rem;
    cursor: pointer;
}

.Login-summit button:disabled {
    cursor: not-allowed;
    background-color: #2f80ed;
}

.Login-summit a {
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0 1.2rem 0 0;
}

.inputField {
    border: none;
}