.home {
  margin: 0;
  padding: 0;
  background: #121217;
  height: 100vh;
  font-family: sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden;
}
h2{
  color:#FFF;
}
.settings {
  padding-top: 40px;
}

.card {
  background-color: #17171F !important;
  height: 100%;
}

.col-sm-4, .col-sm-5{
  padding-top: 15px;
  padding-left: 40px !important;
}

.h-100 {
  height: 100% !important;
}
.shadow-none {
  box-shadow: none !important;
}
.data-text {
  color: #FF6666;
}

hr{
  margin:0.7rem !important;
}

input{
  border: none;
  border-bottom: 2px solid #262626;
  outline: none;
  height: 30px;
  color: #fff;
  background: transparent;
  font-size: 16px;
  padding-left: 20px;
  box-sizing: border-box;
}

input:hover{
  color: #FF6666;
  border: 1px solid #FF6666;
}

input:focus{
  border-bottom: 2px solid #FF6666;
}

.btn-edit{
  margin-left: 0px !important;
  background-color:#FF6666  !important;
  border: none !important;
}

.btn-cancel{
  
  background-color:#FFFFFF  !important;
  border: none !important;
  color:red !important
}