.dashboardHome {
  margin: 0;
  padding: 0;
  background: url(https://bit.ly/3iBhyBi) no-repeat;
  height: 100vh;
  font-family: sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.dashboardCard {
  box-shadow: 0 4px 20px rgb(0 0 0 / 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  width: 95%;
  /* height: 150vh; */
  padding: 0px 20px 10px 20px;
  margin: 25px 40px 0px;
  color: #d2d2d2;
}

.card-container {
  display: flex;
  gap: 10px;
  background-color: rgba(73, 74, 120, 0.5);
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  row-gap: 20px;
  /* height: 70vh; */
  flex-wrap: wrap;
  flex-direction: column;
}


.github-cards {
  display: flex;
}
.github-card {
  background: #1A1B27;
  border-radius: 0.3rem;
  padding: 1.5rem;

  box-shadow: 3px 3px 12px 2px rgba(black, 0.6);
  transition: 0.2s;
  border:1px solid white
}

p{
  color:#70A4FC !important;
}
.github-card:not(:first-child) {
  margin-left: -2rem;
}
.github-card:not(:last-child):hover,
.github-card:not(:last-child):focus-within {
  transform: translateY(-1rem);
  ~ .github-card {
    transform: translateX(2rem);
  }
}
