.loginBoxabc{
  margin-top: 70px;
}

.loginBox input {
  width: 100%;
  margin-bottom: 20px;
}

.loginBox input[type="text"],
.loginBox input[type="email"],
.loginBox input[type="password"] {
  border: none;
  border-bottom: 2px solid #262626;
  outline: none;
  height: 30px;
  color: #fff;
  background: transparent;
  font-size: 16px;
  padding-left: 20px;
  box-sizing: border-box;
}

.loginBox input[type="text"]:hover,
.loginBox input[type="password"]:hover,
.loginBox input[type="email"]:hover {
  color: #FF6666;
  border: 1px solid #FF6666;
}

.loginBox input[type="text"]:focus,
.loginBox input[type="password"]:focus,
.loginBox input[type="email"]:focus {
  border-bottom: 2px solid #FF6666;
}

.inputBox {
  position: relative;
}

.inputBox span {
  position: absolute;
  top: 10px;
  color: #262626;
}

.signUpbtn {
  border: none;
  outline: none;
  height: 40px;
  font-size: 16px;
  background: #FF6666;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
}

.loginBox a {
  color: #262626;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  display: block;
}

