.github,
.codechef {
  padding-top: 60px;
  margin: 0px;
}

.hackerrank {
  padding-top: 60px;
  margin: 0px;
  background-color: #FF6666
}

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

h6 {
  color: #FFF;
}

.github .heading,
.github .username,
.codeChef .heading,
.codeChef .username {
  color: #FF6666;
}

.hackerrank .heading,
.hackerrank .username {
  color: #121217 !important;
}

.githubStats {
  padding-bottom: 30px;
}

.card-container {
  display: flex;
  gap: 10px;
  background-color: rgba(73, 74, 120, 0.5);
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  row-gap: 20px;
  /* height: 70vh; */
  flex-wrap: wrap;
  flex-direction: column;
}


.github-cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.github-card {
  background: #1A1B27;
  border-radius: 0.3rem;
  padding: 1.3rem;
  width: 30vw;
  box-shadow: 3px 3px 12px 2px rgba(black, 0.6);
  transition: 0.2s;
  border: 1px solid white;
  align-items: center;
  justify-content: center;
}

.github-card p {
  color: #70A4FC !important;
}

.github-card p:nth-child(2) {
  font-size: 1.5rem;
  color: #339E94 !important;
}

.github-card:not(:first-child) {
  margin-left: -2rem;
}

.github-card:not(:last-child):hover,
.github-card:not(:last-child):focus-within {
  transform: translateY(-1rem);

  ~.github-card {
    transform: translateX(2rem);
  }
}

.photo-container {
  padding: 30px;
  width: 100%;
  display: flex;
  align-items: center;
}

.swiper-container {
  height: 50vh;
}

.swiper-card {
  background: #70A4FC;
  border-radius: 3rem;
  padding: 1.5rem;
  transition: 0.2s;
  border: 2px solid #1A1B27;
}

.swiper-card p {
  color: #1A1B27 !important;
}

.g-card {
  height: 100%;
  background-color: #17171F !important;
}

.list-group-item {
  background-color: #17171F !important;
}

.card-title {
  color: #FF6666;
  font-weight: bold;

}

.card-text {
  color: white;
  font: 1.25rem 'Segoe UI', Ubuntu, Sans-Serif;
}

.card-text .row{
  padding: 0.55rem;
}