.landing-home{
  background: #121217;
}


.landing {
  margin: 0;
  padding: 0;
  height: 102vh;
  background: #121217;
}


.loginBoxabc {
  box-shadow: 0 4px 20px rgb(0 0 0 / 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  min-height: 150px;
  background-color: #17171F;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.userabc {
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}

h3 {
  margin: 0;
  padding: 0 0 20px;
  color: #FF6666 !important;
  text-align: center;
}

.loginBoxabc .toggleText {
  margin-left: 50px;
  border: none;
  align-self: center;
  outline: none;
  font-size: 15px;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 20px;
}
