.landing-cp {
  margin: 0;
  padding: 0;
  background: #121217;
  height: 100vh;
  font-family: sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden;
}

.loginBoxabc-cp {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 350px;
min-height: 150px;
background-color: #17171F;
border-radius: 10px;
padding: 10px;
box-sizing: border-box;
}

.loginBox-cp input {
  width: 100%;
  margin-bottom: 20px;
}

.loginBox-cp input[type="password"] {
  border: none;
  border-bottom: 2px solid #262626;
  outline: none;
  height: 30px;
  color: #fff;
  background: transparent;
  font-size: 16px;
  padding-left: 20px;
  box-sizing: border-box;
}

.loginBox-cp input[type="password"]:hover {
  color: #FF6666;
  border: 1px solid #FF6666;
}

.loginBox-cp input[type="password"]:focus {
  border-bottom: 2px solid #FF6666;
}

.inputBox-cp {
  position: relative;
}

.inputBox-cp span {
  position: absolute;
  top: 10px;
  color: #262626;
}

.loginBox-cp input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  font-size: 16px;
  background: #FF6666;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
}

.loginBox-cp a {
  color: #262626;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  display: block;
}



.loginbtn-cp {
  border: none;
  outline: none;
  height: 40px;
  font-size: 16px;
  background: #FF6666;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  width: 70%;
  margin-bottom: 0.7rem;
}

.userabc-cp {
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}

.cp-heading{
  color:#FFffff;
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}